
<table border="1">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>E-mail</th>
            <th>Sales Volume</th>
        </tr>
    </thead>
    
    <tbody>
        <tr *ngFor="let salesPerson of salesPersonList">
            <th>{{ salesPerson._firstName }}</th>
            <th>{{ salesPerson._lastName }}</th>
            <th>{{ salesPerson._email }}</th>
            <th>{{ salesPerson._salesVolume }}</th>
        </tr>
    </tbody>
</table>
